@import "home/elements/header.css"; 
@import "home/elements/stories.css";
@import "home/elements/posts.css";
@import "home/elements/sidebar.css";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    position: relative;
    width: 100%;
    margin: auto;
    align-content: center;
    overflow-x: hidden;
    background-color: #FAFAFA;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
    display: none;
}
.main-div{
    margin: auto;
    margin-top: 60px;
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pcontent{
    width: 100%;
    height: 100%;
    margin: auto;
}
.sbcontent{
    display: none;
}
#bye{
    display: none;
}
.content-saver{
    height: 32px;
    border: 1px solid transparent;
}
.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-bar img{
    height: 20px;
}