header{
    position: fixed;
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    top: 0;
    display: flex;
    left: 0;
    z-index: 3;
    justify-content: center;
}
header .deskcontent{
    padding-left: 16px;
    padding-right: 12px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .mobicontent{
    display: none;
}
header .deskcontent span a img{
    height: 20px;
    transform: translate(0px, 4px);
}
.deskcontent .title{
    height: 39px;
}
#spacing{
    width: 175px;
    border: 1px solid transparent;
}
#spacing a {
    display: flex;
    align-items: center;
    justify-content: start;
}
#spacing a *{
    margin-inline: 4px;
}
#logo-separator{
    border-right: 2px solid #DBDBDB;
    height: 22px;
}
header input{
    width: 33%;
    height: 36px;
    border-radius: 8px;
    outline: none;
    border: 0;
    background-color: #EFEFEF;
    color: #262626;
    background-image: url(/assets/icons/lupa.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    text-indent: 30px;
}
header input::placeholder{
    color: #8E8E8E;
    opacity: 0.75;
    font-size: 15px;
    font-weight: 300;
}
header span{
    transform: translateY(-2.6px);
}
header span img{
    margin-left: 18px;
    height: 24px;
}
