.stories{ 
    position: relative;
    margin-bottom: 24px;
    margin-top: 34px;
    width: 100%;
    display: flex;
    align-items: center;
}
#stories-wrapper{
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    height: 118px;
    width: 100%;
    display: flex;
    padding-inline: 16px;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}
#stories-wrapper::-webkit-scrollbar{
    display: none;  /* Chrome, Safari e Opera */
}
.stories .button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 1;
    right: 16px;
    display: unset;
}
.stories .button2{
    background-color: transparent;
    display: unset;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 1;
    left: 16px;
    transform: rotate(180deg);
}
.stories .button img, .stories .button2 img{
    height: 23px;
    width: 23px;
    color: #FCFCFC;
    border: none;
    filter: drop-shadow(0px 0px 12px #818181);
}
.stories a{
    text-decoration: none;
    color: #262626;
    display: grid;
    align-items: center;
    margin: 0 8px;
}
.stories span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    margin-top: 6px;
    width: 100%;
    text-decoration: none;
    color: #262626;
    font-size: 12px;
    text-align: center;
}
.ring{
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
.ring::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom left, #D300C5 0%, #FFC700 100%);
    padding: 1px;
    width: 100%;
    height:100%;
    top: -1px;
    left: -1px;
    position:absolute;
    z-index: 0;
}
.stories img{
    image-rendering: optimizeQuality;
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    z-index: 1;
}
